body {
	padding: 0px;
	border: 0px;
	margin: 0px;
	height: 100%;
	overflow: hidden;
	background-image: url("Resources/Background01.jpg");
	background-color: #999999;
}

/*placeholder {
	background-repeat: no-repeat;
	background-origin: middle;
	background-position: middle;
	background-size: cover;
}*/