.main_wrap {
	background-color: #999999;
	position: relative;
	overflow: hidden;
	padding: 0px;
	border: 0px;
	margin: 0px;
	font-family: 'Nunito Sans', sans-serif;
}

#content {
	position: relative;
	padding-left: 60%;
	padding-top: 40%;
	z-index: 2;
}

#content h1{
	color: #ffffff;
	font-size: 20px;
	font-weight: 900;
	letter-spacing: 5.5px;
	text-align: center;
	text-transform: uppercase;

}

#content p{
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.64px;
	text-align: center;
}

#content iframe{
	height: 306px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#bg {
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
}

#bg img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-height: 50%;
	min-width: 50%;
	opacity: 0.8;
}

/*placeholder {
	height: 100%;
	width: 100%;
}*/