.main_wrap {
	background-color: #999999;
	position: relative;
	overflow: hidden;
	padding: 0px;
	border: 0px;
	margin: 0px;
	font-family: 'Nunito Sans', sans-serif;
	text-rendering: optimizeLegibility;
}

#content {
	position: relative;
	padding-left: 60%;
	z-index: 2;
}

#content h1 {
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 6px;
	text-align: center;
	text-transform: uppercase;

}

#content iframe {
	height: 306px;
	width: 800px;
	margin: 0 auto;
	display: block;
}

#content p {
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 0.64px;
	text-align: center;
}

#buttons {

}

#content button {
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0);
	border: 2px solid #ffffff;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 3.5px;
	text-align: center;
	text-transform: uppercase;
	padding: 20px;
}

#content button:hover {
	color: #000000;
	background-color: #ffffff;
	transition-duration: .17s, .17s;
	transition-timing-function: ease-in-out;
}

#bg {
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
}

#bg img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	min-height: 50%;
	min-width: 50%;
	opacity: 0.66;
}

/*placeholder {

}*/