body {
	background-color: #999999;
	position: relative;
	overflow: hidden;
	height: 100%;
	width: auto;
}

body iframe{
	padding-left: 60%;
	padding-top: 40%;
	position: relative;
	z-index: 2;
}

body img {
	position: absolute;
	left: 0;
	right: 0;
	padding: 0px;
	border: 0px;
	margin: 0px;
	opacity: 0.8;
}

/*placeholder {
	
}*/
