html {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	text-overflow: ellipsis;
	height: 100%;
	font-family: 'Nunito Sans', sans-serif;
	text-rendering: optimizeLegibility;
	background-image: url(Resources/Images/Background01.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

h1 {
	color: #ffffff;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 5.5px;
	text-transform: uppercase;
}

p {
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.64px;
	text-align: center;
	margin-top: 6%;
	margin-bottom: 6%;
}

.solid {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgb(143, 135, 145);
	opacity: 0.5;
	z-index: -1;
}

.container-1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 5%;
	padding-right: 5%;
	min-height: 66%;
	max-width: 640px;
	margin-right: 5%;
	margin-left: auto;
}

.box-1{
	order: 1;
	padding-top: 18%;
}

.box-2 {
	order: 2;
	overflow-y: auto;
}

.subbox-1 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.episode {
	overflow: hidden;
	position: relative;
}

.episode iframe {
	border: 0;
	left: 0;
	top: 0;
	width: 100%;
}

.description {
	align-items: center;
}

.buttons {
	position: relative;
}

.buttons button {
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0);
	border: 2px solid #ffffff;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 3.64px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	padding-right: 1.4em;
	padding-left: 1.4em;
	margin: 0.5em;
}

.buttons button:hover {
	color: #000000;
	background-color: #ffffff;
	transition-duration: .17s, .17s;
	transition-timing-function: ease-in-out;
}

@media (orientation: portrait) {
	.buttons {
		width: 88%;
	}
	.buttons button {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.container-1 {
		margin: auto;
	}
}