body {
	margin: 0;
	padding: 0;
	background-color: #999999;
	position: relative;
	overflow: hidden;
	padding: 0;
	margin: 0;
	font-family: 'Nunito Sans', sans-serif;
	text-rendering: optimizeLegibility;
}

h1 {
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 6px;
	text-transform: uppercase;
}

p {
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 0.64px;
}

.container-1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 4%;
	padding-right: 4%;
}

.box-1{
	flex: 1;
	order: 1;
}

.box-2 {
	flex: 1;
	order: 2;
}

.subbox-1 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.episode {
	overflow: hidden;
	padding-top: 30%;
	position: relative;
}

.episode iframe {
	border: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.description {

}

.buttons {
	position: relative;
}

.buttons button {
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0);
	border: 2px solid #ffffff;
	font-size: 14px;
	font-weight: 200;
	letter-spacing: 4px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	padding-right: 1.2em;
	padding-left: 1.2em;
	margin: 0.5em;
}

.buttons button:hover {
	color: #000000;
	background-color: #ffffff;
	transition-duration: .17s, .17s;
	transition-timing-function: ease-in-out;
}

#bg {
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	z-index: -1;
}

#bg img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	min-height: 50%;
	min-width: 50%;
	opacity: 0.78;
}

/*.content {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 2;
	box-sizing: border-box;
	max-width: 640px;
	padding-bottom: 40px;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 40px;
}

.content h1 {
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 6px;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 20%;

}

.content iframe {
	width: 800px;
	height: 200px;
	min-height: 150px;
	margin: 0 auto;
	display: block;
}

.content p {
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 0.64px;
	text-align: center;
}

.buttons {
	position: relative;
	display: flex;
	margin: 0 auto;
}

.content button {
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0);
	border: 2px solid #ffffff;
	font-size: 14px;
	font-weight: 200;
	letter-spacing: 4px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	padding-right: 1.2em;
	padding-left: 1.2em;
	margin: 0.5em;
	flex: 0 1 150px;
}

.content button:hover {
	color: #000000;
	background-color: #ffffff;
	transition-duration: .17s, .17s;
	transition-timing-function: ease-in-out;
}*/

/*placeholder {

}*/