body {
	background-image: url("../Resources/Images/Background01.jpg");
}

/*placeholder {
	background-repeat: no-repeat;
	background-origin: middle;
	background-position: middle;
	background-size: cover;
	padding: 0px;
	border: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}*/
